TUPLES

In [1]:
t = (1,2,3,4,5,6)

In [2]:
type(t)

tuple

In [3]:
t1 = ('sudh', 354, 35.89, 65+8j, True)

In [4]:
l1 = ['sudh', 354, 35.89, 65+8j, True]

In [5]:
type(t1)

tuple

In [6]:
type(l1)

list

In [7]:
t2 = ()

In [8]:
type(t2)

tuple

In [9]:
l1[0:2]

['sudh', 354]

In [10]:
t1[1:3] 
# When we slice the data. we always use []

(354, 35.89)

In [11]:
t1[::-1]

(True, (65+8j), 35.89, 354, 'sudh')

In [12]:
t1[-1]

True

In [13]:
t1[0::2]

('sudh', 35.89, True)

In [14]:
l1[0] = 'sudh'
l1

['sudh', 354, 35.89, (65+8j), True]

In [15]:
# t1[1] = 'sud'
# The code will give error because tuple is 
# a immutable data type 
t1

('sudh', 354, 35.89, (65+8j), True)

In [16]:
t2 = (38,58 +7j, 'stdr')

In [17]:
t3 = t1 + t2
t3
# append operations works for tuples

('sudh', 354, 35.89, (65+8j), True, 38, (58+7j), 'stdr')

In [18]:
t1*2

('sudh', 354, 35.89, (65+8j), True, 'sudh', 354, 35.89, (65+8j), True)

In [19]:
# Tuples have only 2 functions in it
# count and index

In [20]:
t1.count('sudh')

1

In [21]:
t3.index(True)

4

In [22]:
# t4 = t2 + ("kush")
# ERROR: can only concatenate tuple (not "str") to tuple
# The size of the tuple will not change
# Can keep tuple inside a tuple

In [23]:
t4 = (4, 'sudh', 75, (4, 'h', 98, 4+8j), 89)
t4

(4, 'sudh', 75, (4, 'h', 98, (4+8j)), 89)

In [24]:
t5 = ([3,6+8j, True], 89, 'ksi', (4, False, 'srd'))
t5

([3, (6+8j), True], 89, 'ksi', (4, False, 'srd'))

In [25]:
t5[0][1] = 'Hi change'
t5

([3, 'Hi change', True], 89, 'ksi', (4, False, 'srd'))

In [26]:
t5[2].replace('s','v')

'kvi'

In [27]:
t5

([3, 'Hi change', True], 89, 'ksi', (4, False, 'srd'))

In [28]:
list(t1)
# List to tuple and tupe to list is possible

['sudh', 354, 35.89, (65+8j), True]

In [29]:
tuple(l1)

('sudh', 354, 35.89, (65+8j), True)

SET

In [30]:
l = [1,2,3,4,5,6,1,2,3,3,3,4,4,1,1,9,8,6,2,4,0,0.-1,-1,-6.5]

In [31]:
l

[1, 2, 3, 4, 5, 6, 1, 2, 3, 3, 3, 4, 4, 1, 1, 9, 8, 6, 2, 4, 0, -1.0, -1, -6.5]

In [32]:
set(l)
# Set ill remove all the duplicate 
# and also reorder the element in assending

{-6.5, -1.0, 0, 1, 2, 3, 4, 5, 6, 8, 9}

In [33]:
s = {}

In [34]:
type(s)

dict

In [35]:
s1 = {2, 2+3j, 'gsk'}

In [36]:
type(s1)

set

In [37]:
s2 = {1,1,1,2,2,2,3,3,3+8j,'sudh','kust'}
s2

{(3+8j), 1, 2, 3, 'kust', 'sudh'}

In [38]:
# s2[2]
# set is an unordered collection
# So we cannot perfor indexing on set

In [39]:
l2 = list(s2)
l2

[1, 2, 3, 'kust', (3+8j), 'sudh']

In [40]:
list(s2)[2]

3

In [41]:
 s2

{(3+8j), 1, 2, 3, 'kust', 'sudh'}

In [42]:
# s3 = {[1,2,True],('kush',89),5,False}
# ERROR: unhashable type: 'list'
# Set always holds a premitive data type like string, int, flot etc
# we cannot store list inside set
# but we can store immutable elements inside a set like tuple
# Example line 81

In [43]:
set(l2)

{(3+8j), 1, 2, 3, 'kust', 'sudh'}

In [44]:
s2.add('kush')

In [45]:
s2

{(3+8j), 1, 2, 3, 'kush', 'kust', 'sudh'}

In [46]:
# s2.add(['kush',78])
# same as line 73 cannot store list inside set

In [47]:
s4 = {(9,7,'kush'), 4,4,6,8,3,'kush'}
s4

{(9, 7, 'kush'), 3, 4, 6, 8, 'kush'}

In [48]:
s5 = {(9,7,'kush'),(9,7,'kush'), 4,4,6,8,3,'kush'}
s5
# it will also remove duplicate tuple

{(9, 7, 'kush'), 3, 4, 6, 8, 'kush'}

In [49]:
s5.remove(4)

In [50]:
s5

{(9, 7, 'kush'), 3, 6, 8, 'kush'}

In [51]:
s5.clear()
s5
#clears the set

set()

In [52]:
s4.discard(6)
s4

{(9, 7, 'kush'), 3, 4, 8, 'kush'}

In [53]:
s4.discard(45)
s4
# when we perform remove and the element is not in the set the code will give error
# but in discard it will just returen the previous set

{(9, 7, 'kush'), 3, 4, 8, 'kush'}

In [54]:
{'Kush','kush'}
# set is case sencetive

{'Kush', 'kush'}

DICTIONARY

In [55]:
d = {2,4}
type(d)

set

In [56]:
d = {4:'kush'}

In [57]:
d1 = {'k': 10, 'j' :7+8j, 45:True, False:[8,'kush',True]}

In [58]:
d1

{'k': 10, 'j': (7+8j), 45: True, False: [8, 'kush', True]}

In [59]:
d1['k']

10

In [60]:
d1[False]

[8, 'kush', True]

In [61]:
d1[False][1] = 'hi'

In [62]:
d1

{'k': 10, 'j': (7+8j), 45: True, False: [8, 'hi', True]}

In [63]:
d2 = {'Key':{3,4,True},9:(74,'hi')}

In [64]:
d2

{'Key': {True, 3, 4}, 9: (74, 'hi')}

In [65]:
d3 = {'key1':45,'key2':90,'key1':50}

In [66]:
d3['key1']
# It s like variable, if the key is repeated
# the last value which is exicuted 
# will be stored in that key

50

In [67]:
# So you should alwasy assign unique keys to the data

In [68]:
d = {'name':"kushagra", 'mobile_no':7422209728,'email':'ineuron@gmail.com','key1':{1:'kush',2:'kash'},'key2':[1,2,True],'key3':(False,'Sudh',8794),'key4':{3,1,1,2,2,3,4,8,8+9j,4,8+9j}}

In [69]:
d

{'name': 'kushagra',
 'mobile_no': 7422209728,
 'email': 'ineuron@gmail.com',
 'key1': {1: 'kush', 2: 'kash'},
 'key2': [1, 2, True],
 'key3': (False, 'Sudh', 8794),
 'key4': {(8+9j), 1, 2, 3, 4, 8}}

In [70]:
# d5 = {['hi',4]:30}
# ERROR: unhashable type: 'list'
# you cannot have a list as the key

In [71]:
d5 = {('hi',4):30}

In [72]:
d5[('hi',4)]

30

In [73]:
# d5 = {{6,'ksu'}:98}
# ERROR: unhashable type: 'set'
# a tuple data can be kept as a key
# all the immutable data types can be kept as key
# example line 130
# a set cannot be kept as a key

In [74]:
type(d['key4'])

set

In [75]:
d['key2'][2]

True

In [76]:
d['key2'][2] = False
d

{'name': 'kushagra',
 'mobile_no': 7422209728,
 'email': 'ineuron@gmail.com',
 'key1': {1: 'kush', 2: 'kash'},
 'key2': [1, 2, False],
 'key3': (False, 'Sudh', 8794),
 'key4': {(8+9j), 1, 2, 3, 4, 8}}

In [77]:
d.keys()

dict_keys(['name', 'mobile_no', 'email', 'key1', 'key2', 'key3', 'key4'])

In [78]:
d.values()

dict_values(['kushagra', 7422209728, 'ineuron@gmail.com', {1: 'kush', 2: 'kash'}, [1, 2, False], (False, 'Sudh', 8794), {1, 2, 3, 4, (8+9j), 8}])

In [79]:
d.items()
# It will create a list of a tuple of all the key and the value as a tuple pair

dict_items([('name', 'kushagra'), ('mobile_no', 7422209728), ('email', 'ineuron@gmail.com'), ('key1', {1: 'kush', 2: 'kash'}), ('key2', [1, 2, False]), ('key3', (False, 'Sudh', 8794)), ('key4', {1, 2, 3, 4, (8+9j), 8})])

In [80]:
type(d.items())

dict_items

In [81]:
d2

{'Key': {True, 3, 4}, 9: (74, 'hi')}

In [82]:
d2['Key'] = 'Kash'
d2
# Replaces the value

{'Key': 'Kash', 9: (74, 'hi')}

In [83]:
d2['key10'] = 'not available'
# n case the key you are mentioning is not aailable
# it will add that key with the respective value

In [84]:
d2

{'Key': 'Kash', 9: (74, 'hi'), 'key10': 'not available'}

In [85]:
# another example
d2[4] = {'Hi', False}
d2

{'Key': 'Kash', 9: (74, 'hi'), 'key10': 'not available', 4: {False, 'Hi'}}

In [86]:
del d2[4]

In [87]:
d2

{'Key': 'Kash', 9: (74, 'hi'), 'key10': 'not available'}

In [88]:
# You cannot rename the key but you can replace it
# by using del function

In [89]:
del d2
# Will delete the entire dictionary

In [90]:
# d2
# NameError: name 'd2' is not defined
# beacuse we deleated d2 in nline 157

In [91]:
d.get('key1')

{1: 'kush', 2: 'kash'}

In [92]:
d.get('jahsdjh')
# if the key is not available then no error and no output
# if the key is there then it will get the value of that key

In [93]:
type(d.get('jahsdjh'))

NoneType

In [94]:
d2 = {'Key': 'Kash', 9: (74, 'hi')}
d2

{'Key': 'Kash', 9: (74, 'hi')}

In [95]:
d3 = {'key 1' :'hi', 889: 'any'}
d3

{'key 1': 'hi', 889: 'any'}

In [96]:
d3.update(d2)
d3
# will append the d3 to d2

{'key 1': 'hi', 889: 'any', 'Key': 'Kash', 9: (74, 'hi')}

In [97]:
d2

{'Key': 'Kash', 9: (74, 'hi')}

In [98]:
# d2+d3
# TypeError: unsupported operand type(s) for +: 'dict' and 'dict'
# Why update() function is becuse concatination does not work for dictionary

In [99]:
d1

{'k': 10, 'j': (7+8j), 45: True, False: [8, 'hi', True]}

In [100]:
key = ("name",'mobile_no', "email_id")
value = (245,950,236)

In [101]:
d0 = d2.fromkeys(key,value)

In [102]:
d0

{'name': (245, 950, 236),
 'mobile_no': (245, 950, 236),
 'email_id': (245, 950, 236)}

In [103]:
value1 = 'hi'
d0 = d2.fromkeys(key,value1)

In [104]:
d0

{'name': 'hi', 'mobile_no': 'hi', 'email_id': 'hi'}

In [105]:
d0 = d.fromkeys(key,value1)

In [106]:
d0

{'name': 'hi', 'mobile_no': 'hi', 'email_id': 'hi'}

In [107]:
value1 = ['hi',28]
d0 = d2.fromkeys(key,value1)
d0

{'name': ['hi', 28], 'mobile_no': ['hi', 28], 'email_id': ['hi', 28]}