In [1]:
!python -m pip install pymongo==3.11

Collecting pymongo==3.11
  Downloading pymongo-3.11.0.tar.gz (771 kB)
     ---------------------------------------- 0.0/771.7 kB ? eta -:--:--
     --------- ---------------------------- 194.6/771.7 kB 3.9 MB/s eta 0:00:01
     -------------------------------------- 771.7/771.7 kB 8.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: pymongo
  Building wheel for pymongo (setup.py): started
  Building wheel for pymongo (setup.py): finished with status 'done'
  Created wheel for pymongo: filename=pymongo-3.11.0-cp311-cp311-win_amd64.whl size=344254 sha256=771b3a45702a00ad62e2932a25d5ba789835cd02ac49070cde05985140686fad
  Stored in directory: c:\users\win\appdata\local\pip\cache\wheels\43\00\27\6d27c275881078538e7cd04e595f2f3a1f14b1ef9e32e40583
Successfully built pymongo
Installing collected packages: pymongo
Successfully installed pymongo-3.11.0

In [3]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\win\anaconda3\lib\site-packages (3.11.0)
Collecting dnspython<2.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-1.16.0-py2.py3-none-any.whl (188 kB)
     ---------------------------------------- 0.0/188.4 kB ? eta -:--:--
     -------------------- ----------------- 102.4/188.4 kB 3.0 MB/s eta 0:00:01
     -------------------------------------- 188.4/188.4 kB 3.8 MB/s eta 0:00:00
Installing collected packages: dnspython
Successfully installed dnspython-1.16.0

In [12]:
!pip install dnspython

Requirement already satisfied: dnspython in c:\users\win\anaconda3\lib\site-packages (1.16.0)

In [1]:
import pymongo

uri = "mongodb+srv://kashyapbbp:Qwertyat123@kashyapcluster0.ymixz30.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = pymongo.MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
print(client.test)

Database(MongoClient(host=['ac-snogaqd-shard-00-01.ymixz30.mongodb.net:27017', 'ac-snogaqd-shard-00-02.ymixz30.mongodb.net:27017', 'ac-snogaqd-shard-00-00.ymixz30.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-w1wf31-shard-0', ssl=True), 'test')

In [5]:
import pymongo

uri = "mongodb+srv://kashyapbbp2:Qwertyat123@testcluster0.ltjulcv.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = pymongo.MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

print(client.test)

Pinged your deployment. You successfully connected to MongoDB!
Database(MongoClient(host=['ac-orteaqd-shard-00-02.ltjulcv.mongodb.net:27017', 'ac-orteaqd-shard-00-00.ltjulcv.mongodb.net:27017', 'ac-orteaqd-shard-00-01.ltjulcv.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-tz6xl6-shard-0', ssl=True), 'test')

In [5]:
db = client.test1

In [6]:
db2 = client['kush']

In [7]:
client.list_database_names()

['admin', 'local']

In [ ]:
"""
In MySQL we had "tables"
But in MongoDB we call them as "collections"

Simillarly
In MySQL we had "rows/records"
But in MongoDB we call them as "documents"
"""

In [8]:
# Now adding collection to database db2
coll1 = db2['test_collection']

# This collection will not show in Atlas untill we add a document

In [9]:
dict1 = {"name": "Kushagra",
         "email_id": "kushagra@testemail.com",
         "skills": ["Python", "SQL", "Excel", "PowerBI"],
         "company": "Skill-Lync.com"
}

In [10]:
coll1.insert_one(dict1)

In [ ]:
"""
From the above example you can see the limitations of SQL
In SQL we can only enter the number of records equal to the number of collumns
for example, in a table we have 5 columns so we can only have 5 records corresponding to those rows
SQL is limitted to only few type of data types

But in NoSQL we are not limitted to that
As we have can observe in the above example. 
We have added a list in a dataset which is not possible in SQL

This means that SQL only accepts Stuructured data set
where NoSQL takes non structured data set as well. 
"""

In [11]:
# We can even enter more then the previous given key for the next record
# And also chenge the key name in the second record
dict2 = {"name": "Kushagra",
         "email_id": "kushagra@testemail.com",
         "skills": ["Python", "SQL", "Excel", "PowerBI"],
         "previous_company": "Skill-Lync.com",
         "notice_period": 30
}

In [12]:
coll1.insert_one(dict2)

In [13]:
# The _id we see before every document is the primary key generated by mongodb
# We can also change that by mentioning _id in the begining

dict3 = {
         "_id": 45, # We can write any data type here even "kush"
         "name": "Kushagra",
         "email_id": "kushagra@testemail.com",
         "skills": ["Python", "SQL", "Excel", "PowerBI"],
         "previous_company": "Skill-Lync.com",
         "notice_period": 30
}
coll1.insert_one(dict3)

In [14]:
# TO add multiple documents in one go using list which contains multiple dictionaries
list1 = [
  {
    "name": "Alice",
    "age": 26,
    "email": "alice@abc.com"
  },
  {
    "name": "Bob",
    "age": 43,
    "email": "bob@def.com"
  },
  {
    "name": "Carol",
    "age": 19,
    "email": "carol@xyz.com"
  }
]

In [15]:
coll1.insert_many(list1)

# Note 
# coll1.insert_many([dict1,dict1,dict1]) 
# will not work
# Because it has a list which has duplicate key valu pair in the list
# which causes it to not able to create ids for the same.

In [16]:
# To get records from the collection
# We can use find() function
for i in coll1.find():
    print(i)
    # Which will give all the documents present in the collection

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': ObjectId('651e65bdf7d929d612d0947c'), 'name': 'Alice', 'age': 26, 'email': 'alice@abc.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947d'), 'name': 'Bob', 'age': 43, 'email': 'bob@def.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947e'), 'name': 'Carol', 'age': 19, 'email': 'carol@xyz.com'}

In [17]:
# Finding all the records with specific conditions
# Its equvalent to a Where clause in SQL
for i in coll1.find({"name": "Kushagra"}):
    print(i)

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}

In [19]:
for i in coll1.find({"name": "*ushagr*"}):
    print(i)

In [20]:
# Check in case you have any key with "name"
# and any values in the list given
# For this we have to run the code with below syntax

for i in coll1.find({"name": {"$in": ["Kushagra", "Kush", "Hi"]}}):
    print(i)
    
# '$in' is the command which helps in searcing for the list type of agguments
# We can use "#eq" as well here instred of "$in"
# "#eq" is for equal to

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}

In [24]:
# Another Example
for i in coll1.find({"name": {"$in": ["Kushagra", "Kush", "Hi"]}, "previous_company": "Skill-Lync.com", "notice_period": 30}):
    print(i)

{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}

In [25]:
coll1.find_one()

{'_id': ObjectId('651e5c0ef7d929d612d0947a'),
 'name': 'Kushagra',
 'email_id': 'kushagra@testemail.com',
 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'],
 'company': 'Skill-Lync.com'}

In [28]:
# For > or < argument in find function
# We have to use "$gt" & "$lt" for this purpose

for i in coll1.find({"age": {"$gt": 25}}):
    print(i)
    
""" 
"$gt"  --  greater than
"$lt"  --  lesser than
"$gte"  --  greater than or equal to 
"$lte"  --  lesser than or equal to 
"$eq"  --  equal to
"$ne"  --  not equal to
"""

{'_id': ObjectId('651e65bdf7d929d612d0947c'), 'name': 'Alice', 'age': 26, 'email': 'alice@abc.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947d'), 'name': 'Bob', 'age': 43, 'email': 'bob@def.com'}

In [29]:
# Performing Update operations
# We have to use update_one() or update_many() function

coll1.update_many({"name": "Kushagra"}, {"$set": {"name": "Kushagra Kashyap"}})

# We have to use "$set" to mention what data you want to update. 
# And again wverything has to be in Key:value pair

for i in coll1.find():
    print(i)

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': ObjectId('651e65bdf7d929d612d0947c'), 'name': 'Alice', 'age': 26, 'email': 'alice@abc.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947d'), 'name': 'Bob', 'age': 43, 'email': 'bob@def.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947e'), 'name': 'Carol', 'age': 19, 'email': 'carol@xyz.com'}

In [33]:
# Another example for update

coll1.update_many({"name": "Alice"}, {"$set": {"age": 27}})

for i in coll1.find():
    print(i)

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': ObjectId('651e65bdf7d929d612d0947c'), 'name': 'Alice', 'age': 27, 'email': 'alice@abc.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947d'), 'name': 'Bob', 'age': 43, 'email': 'bob@def.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947e'), 'name': 'Carol', 'age': 19, 'email': 'carol@xyz.com'}

In [30]:
# For Limiting the number of records showen here
# We have to use limit() function

for i in coll1.find().limit(2): # The number insire the () for limit will define the number of documents returned
    print(i)

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}

In [31]:
# For not statments we have to use "$not" keyword just like "$ne" and etc

for i in coll1.find({"age": {"$not": {"$gt": 25}}}):
    print(i)
    
# As we can observe in the output
# It will return all the documents which does not have key - "age"
# and all the valuese where the "age"(key) value is not greater then 25

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': ObjectId('651e65bdf7d929d612d0947e'), 'name': 'Carol', 'age': 19, 'email': 'carol@xyz.com'}

# Day 2

In [13]:
import pymongo

uri = "mongodb+srv://kashyapbbp2:Qwertyat123@testcluster0.ltjulcv.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = pymongo.MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

print(client.test)

Pinged your deployment. You successfully connected to MongoDB!
Database(MongoClient(host=['ac-orteaqd-shard-00-02.ltjulcv.mongodb.net:27017', 'ac-orteaqd-shard-00-00.ltjulcv.mongodb.net:27017', 'ac-orteaqd-shard-00-01.ltjulcv.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-tz6xl6-shard-0', ssl=True), 'test')

In [14]:
client.list_database_names()

['kush', 'admin', 'local']

In [15]:
# How to select a already existing database

db = client.get_database("kush")

In [16]:
# Now selecting a clooection in that database

coll1 = db['test_collection']

In [17]:
# To view all the collections in the database

coll_names = db.list_collection_names()
for i in coll_names:
    print(i)

test_collection

In [18]:
for i in coll1.find():
    print(i)

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': ObjectId('651e65bdf7d929d612d0947c'), 'name': 'Alice', 'age': 27, 'email': 'alice@abc.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947d'), 'name': 'Bob', 'age': 43, 'email': 'bob@def.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947e'), 'name': 'Carol', 'age': 19, 'email': 'carol@xyz.com'}

In [23]:
list2 = [
    {
        '_id': 1,
        'name': 'Kushagra Kashyap',
        'email_id': 'kushagra@testemail.com',
        'skills': ['Python', 'SQL', 'Excel', 'PowerBI'],
        'company': 'Skill-Lync.com',
        'year': 2012
    },
    {
        '_id': 2,
        'name': 'Kushagra Kashyap',
        'email_id': 'kushagra@testemail.com',
        'skills': ['Python', 'SQL', 'Excel', 'PowerBI'],
        'previous_company': 'Skill-Lync.com',
        'notice_period': 30,
        'year': 2013
    },
    {
        '_id': 3,
        'name': 'Kushagra Kashyap',
        'email_id': 'kushagra@testemail.com',
        'skills': ['Python', 'SQL', 'Excel', 'PowerBI'],
        'previous_company': 'Skill-Lync.com',
        'notice_period': 30,
        'year': 2014
    }
]

coll1.insert_many(list2)

In [24]:
for i in coll1.find():
    print(i)

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': ObjectId('651e65bdf7d929d612d0947c'), 'name': 'Alice', 'age': 27, 'email': 'alice@abc.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947d'), 'name': 'Bob', 'age': 43, 'email': 'bob@def.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947e'), 'name': 'Carol', 'age': 19, 'email': 'carol@xyz.com'}
{'_id': 1, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com', 'year': 2012}
{'_id': 2, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30, 'year': 2013}
{'_id': 3, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30, 'year': 2014}

In [27]:
list3 = [
    {
        '_id': 4,
        'name': 'Kushagra',
        'email_id': 'kushagra@testemail.com',
        'skills': ['Python', 'SQL', 'Excel', 'PowerBI'],
        'company': 'Skill-Lync.com',
        'year': 2012
    },
    {
        '_id': 5,
        'name': 'Kushagra',
        'email_id': 'kushagra@testemail.com',
        'skills': ['Python', 'SQL', 'Excel', 'PowerBI'],
        'previous_company': 'Skill-Lync.com',
        'notice_period': 30,
        'year': 2013
    },
    {
        '_id': 6,
        'name': 'Kushagra',
        'email_id': 'kushagra@testemail.com',
        'skills': ['Python', 'SQL', 'Excel', 'PowerBI'],
        'previous_company': 'Skill-Lync.com',
        'notice_period': 30,
        'year': 2014
    }
]

coll1.insert_many(list3)
for i in coll1.find():
    print(i)

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': ObjectId('651e65bdf7d929d612d0947c'), 'name': 'Alice', 'age': 27, 'email': 'alice@abc.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947d'), 'name': 'Bob', 'age': 43, 'email': 'bob@def.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947e'), 'name': 'Carol', 'age': 19, 'email': 'carol@xyz.com'}
{'_id': 1, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com', 'year': 2012}
{'_id': 2, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30, 'year': 2013}
{'_id': 3, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30, 'year': 2014}
{'_id': 4, 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com', 'year': 2012}
{'_id': 5, 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30, 'year': 2013}
{'_id': 6, 'name': 'Kushagra', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30, 'year': 2014}

In [29]:
# For deleting documents from the collection
# We can use delete_one/ delete_many function

coll1.delete_many({'name': 'Kushagra'})
for i in coll1.find():
    print(i)
    
# Every element where 'name' is 'Kushagra' will be deleted.

{'_id': ObjectId('651e5c0ef7d929d612d0947a'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com'}
{'_id': ObjectId('651e60f7f7d929d612d0947b'), 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': 45, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30}
{'_id': ObjectId('651e65bdf7d929d612d0947c'), 'name': 'Alice', 'age': 27, 'email': 'alice@abc.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947d'), 'name': 'Bob', 'age': 43, 'email': 'bob@def.com'}
{'_id': ObjectId('651e65bdf7d929d612d0947e'), 'name': 'Carol', 'age': 19, 'email': 'carol@xyz.com'}
{'_id': 1, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'company': 'Skill-Lync.com', 'year': 2012}
{'_id': 2, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30, 'year': 2013}
{'_id': 3, 'name': 'Kushagra Kashyap', 'email_id': 'kushagra@testemail.com', 'skills': ['Python', 'SQL', 'Excel', 'PowerBI'], 'previous_company': 'Skill-Lync.com', 'notice_period': 30, 'year': 2014}