In [1]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(34,65,"utset",7568,238)

(34, 65, 'utset', 7568, 238)

In [3]:
# '*' used to pass multiple arguments from a function
# without defining them

def test1(*args):
    return args

In [4]:
test1(436,74,"kush",5+7j,47)

(436, 74, 'kush', (5+7j), 47)

In [5]:
test1([1,3,56,"ksd"], {3,4,6,7}, 23, 5+8j, "kush",("hi",34,56))

([1, 3, 56, 'ksd'], {3, 4, 6, 7}, 23, (5+8j), 'kush', ('hi', 34, 56))

In [6]:
# In *args 'args' is just a key used here
# we can use any key work we want in place of that

def test2(*kush):
    return kush

In [7]:
test2(4,5,7,9,1,5)

(4, 5, 7, 9, 1, 5)

In [8]:
def test3(*kush, a):
    return kush, a

In [11]:
test3(34,45,465)
# Python is not able to understand what is an argument and what is a

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [12]:
test3(34,45,465, a = 28347)
# here we ahve cleary mentione the a value to solve this problem.

((34, 45, 465), 28347)

In [14]:
# The same sinirio can be use d for multiple such variables
def test4(*kush, a, b, c, d):
    return kush, a, b, c, d

In [20]:
test4(347, 42,42,4546, "kusj", a = {4,5,6,7}, b= ["sjdh",5,56], c = 5+8j, d = "ahshjgdf")

((347, 42, 42, 4546, 'kusj'),
 {4, 5, 6, 7},
 ['sjdh', 5, 56],
 (5+8j),
 'ahshjgdf')

In [16]:
# Another situation
def test5(a, *kush):
    return a, kush

In [17]:
test5("jajdhdfkjh", 23, 35, a= 2534)

#gives an error

TypeError: test5() got multiple values for argument 'a'

In [18]:
# But it will work if we remove a while using that function
test5("jajdhdfkjh", 23, 35)

('jajdhdfkjh', (23, 35))

In [21]:
# when ever we define a funnction and five starting as variable
# Python by default consideres the first input as the set variable. 
# in line 17 it considered "jajdhfkjh" as a by default
# and then we defined a again so its an error.

In [22]:
test4(347, 42,42,4546, "kusj", a = {4,5,6,7}, b= ["sjdh",5,56], c = 5+8j, d = "ahshjgdf", 23646)

SyntaxError: positional argument follows keyword argument (1932320633.py, line 1)

In [23]:
# above example is also the same. 
# At last we added another argument.

In [2]:
# Giving * for the multiple function is position sensitive 
def test6(a, *kush, b, c):
    return a, kush, b , c

In [3]:
test6("ahjhfjh", "aknfjkh", 24875897, 53, 5,56 ,7)

# It will not work unless we define b and c variable. 
# Because after the 1st variable python will consider all the other as arguments

TypeError: test6() missing 2 required keyword-only arguments: 'b' and 'c'

In [4]:
test6("ahjhfjh", "aknfjkh", 24875897, 53, 5,b = 56 , c = 7)

('ahjhfjh', ('aknfjkh', 24875897, 53, 5), 56, 7)

In [5]:
def test7(*args):
    for i in args:
        if type(i) == list:
            return i

In [6]:
test7(3435,5,4534,57567,[23423,23,545])

[23423, 23, 545]

In [8]:
test7(234,4564,[12.34,545,324], [332,3545], "2sdf")

#if in case you have 2 list inside the argument, then only one list will be returened. 
# we need to modify the formula.

[12.34, 545, 324]

In [9]:
# Print will work but if will give a null type data. So not a solution

In [14]:
def test7(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [15]:
#with the above function modified. We can get all the list
test7(234,4564,[12.34,545,324], [332,3545], "2sdf")

[[12.34, 545, 324], [332, 3545]]

In [16]:
d = {"a" : [2,3,4,5,6], 6: [4,56,4,56,67,8]}

In [17]:
d["a"]

[2, 3, 4, 5, 6]

In [18]:
# ** are used to pass a key-value pair like a distionary
def test8(**kwargs):
    return kwargs

In [19]:
test8(23,345,466778,98,456,3)
# will not work because we are not passing the value as key-value pair

TypeError: test8() takes 0 positional arguments but 6 were given

In [20]:
test8(a=34345, b =2443, c = [4.5,6,7])
# have to pass the values like this for ** arguments

{'a': 34345, 'b': 2443, 'c': [4.5, 6, 7]}

In [22]:
def test9(**kush):
    return kush

In [24]:
test9(Name = "Kushagra", Age = "28", Phone_Number = "123456789", mail_id = "skdjjf@ksdfk")

{'Name': 'Kushagra',
 'Age': '28',
 'Phone_Number': '123456789',
 'mail_id': 'skdjjf@ksdfk'}

In [25]:
### Note a " " will not work when we are giving a key
# Example:- "Phone_number" This will be considered as a key 
# rather than "Phone Number"

In [26]:
# Now How to give a argumennt with key-value **s
def test10(a, **kush):
    return kush, a

In [27]:
test10(34,45,567,23,544,3,5)

TypeError: test10() takes 1 positional argument but 7 were given

In [28]:
test10(12,b = 12, c = 'kush')

({'b': 12, 'c': 'kush'}, 12)

In [31]:
test10(b = 12, c = 'kush',a = 28)

({'b': 12, 'c': 'kush'}, 28)

In [32]:
# By combining all the 3 arguments
def test11(a, **kush, *args):
    return a, kush, args

# This kind of function is not possible

SyntaxError: invalid syntax (2657202622.py, line 2)

In [37]:
# But if we do it in the sequence like below It will work
def test11(a, *kush, **kwargs):
    return a, kush, kwargs

In [39]:
test11(12,43,2,4,6,7, g = 23, k = "kjdhfjgh")

# This takes all the key = value par in the **kwargs
# and all the other in *kush arguments except the 1st value

(12, (43, 2, 4, 6, 7), {'g': 23, 'k': 'kjdhfjgh'})

# Anonymous Function

In [4]:
def test12(a,b):
    return a*b

In [5]:
test12(4,6)

24

In [8]:
# we use lambda for annonymous function

f = lambda a,b : a*b

In [9]:
f(34,56)

1904

In [10]:
# For retuening multiple outputs

f = lambda a, b : (a*b, a+b, a-b)

In [11]:
f(23, 56)

(1288, 79, -33)

In [12]:
# And for unlimited outputs and inputs

f = lambda *a : a

In [14]:
f(23,3, 465)

(23, 3, 465)

In [16]:
f = lambda *a,b : (a*b, a+b)

In [17]:
f(12,434,56,b=3)

TypeError: can only concatenate tuple (not "int") to tuple

In [20]:
# For loop in lambda function

x = lambda a : [i for i in a]
y = lambda a : [print(i) for i in a]

In [21]:
x([4,5,623,4])

[4, 5, 623, 4]

In [22]:
y([4,5,623,4])

4
5
623
4

[None, None, None, None]

Comprehensive loop output

In [23]:
l = [3,5,34,6,3,23]
l1 = []
for i in l:
    l1.append(i)

In [24]:
l1

[3, 5, 34, 6, 3, 23]

In [25]:
# comprehensive way to wriet the same function

[i for i in l]

[3, 5, 34, 6, 3, 23]

In [26]:
## Returning key-value pair with lambda function

x = lambda **kwargs : kwargs
x(a= 23, b= "sdf")

{'a': 23, 'b': 'sdf'}

Calling external values in a function

In [27]:
a = 10
def test13(c,d):
    a = 5
    return c*d

# here the function will not consider a = 5 because we are not using it anywhere,

In [28]:
test13(a,50)

500

In [33]:
a = 10
c = 10
def test13(c,d):
    a = 5
    c = 5
    return c*d

# Here we are assigning the c value to 5 internally so the output will change

In [34]:
test13(a,50)

250

In [35]:
# In the previous sinario, c=10 and a= 10 are global diclarations. 
# So when we call c, it will give the global value only not the internal c local value

# where as c= 5 in inside the function is a local value
# scope of local c and a will be only inside the function
a

10

In [36]:
c

10

# Comprehension

In [38]:
l = [1,2,3,4,5,6,7,89,2]
l1 = []
for i in l:
    l1.append(i+2)

In [39]:
l1

[3, 4, 5, 6, 7, 8, 9, 91, 4]

In [40]:
def test14(a):
    l1 = []
    for i in l:
        l1.append(i+2)
    return l1

In [41]:
test14(l)

[3, 4, 5, 6, 7, 8, 9, 91, 4]

In [43]:
a = lambda a : [i+2 for i in a]

In [44]:
a(l)

[3, 4, 5, 6, 7, 8, 9, 91, 4]

In [47]:
# Same output can be obtained by comprehension

[i+2 for i in l]

[3, 4, 5, 6, 7, 8, 9, 91, 4]

In [48]:
[(i+2, i +i) for i in l]

[(3, 2), (4, 4), (5, 6), (6, 8), (7, 10), (8, 12), (9, 14), (91, 178), (4, 4)]

In [49]:
# Multiple out put is also possible.
# Just like the line 48

In [50]:
# We can add conditiones in comprehensions as well. 

[(i**2, i+i) for i in l if i < 4]

# here we are writing the condition if i < 4

[(1, 2), (4, 4), (9, 6), (4, 4)]

In [52]:
[(i**2, i+i) for i in l if i < 4 if i > 1]
# multiple if conditions

[(4, 4), (9, 6), (4, 4)]

Disctionary Comprehension

In [53]:
d = {1:1, 2:4, 3:9}

In [54]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [59]:
# doing same thing without comprehension

d1 = {}
for i in range(10):
    d1[i]=i**2

In [60]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Tuple Comprehension

In [63]:
(i for i in range(10))
# So here its giving a generator object

In [64]:
# To get the tuple value just add tuples in front

tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Generator Object, Itrator Object & Itrable Object

In [66]:
# Example
a = 45
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [67]:
# 'int' object is not iterable

In [69]:
# Example

s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [70]:
# Here "str" is an iterable object

In [71]:
# Example
next(s)

TypeError: 'str' object is not an iterator

In [72]:
# 'str' object is not an iterator

What is the difference btw iterable and iterator

In [100]:
"""
1. If an object is holding values and if we are able to access it using index, that is a iterable object
2. But Its not necessary that will be an iterator object
3. list, tuple, str etc have to converted into iterator by iter()
4. non iterable objects cannot be converted into iterable or iterator
5. All iterable can be converted to iterator
"""

'\n1. If an object is holding values and if we are able to access it using index, that is a iterable object\n2. But Its not necessary that will be an iterator object\n'

In [80]:
# How ro convert iterable into iterator
# using iter()

b = iter(s)

In [81]:
b

In [76]:
tuple(b)

# tuple converted the b into a tuple.
# for line 82 and lator I have to run line 81 again

('s', 'u', 'd', 'h')

In [82]:
next(b)

's'

In [83]:
next(b)

'u'

In [90]:
# So how for loop is working

s= "kdsfhj"
for i in s:
    print(i)
    
# for loop is converting s into a itrator 
# and then its going one by one indixing it for the oprations

k
d
s
f
h
j

In [91]:
# We can do that without for loop as well 
# by using iter()

s = iter(s)

In [92]:
next(s)

'k'

In [93]:
next(s)

'd'

In [94]:
next(s)

's'

In [95]:
next(s)

'f'

In [96]:
next(s)

'h'

In [97]:
next(s)

'j'

In [98]:
next(s)

StopIteration:

In [99]:
# untill it exhaustes itself

In [101]:
l2 = [2,34,5,6,7]

In [102]:
next(l2)
# list is not iterator
# have to convert it into iterable

TypeError: 'list' object is not an iterator

In [103]:
iter(45)

# 'int' is not a iterable

TypeError: 'int' object is not iterable

In [104]:
l = iter(l2)

In [105]:
next(l)

2

In [106]:
next(l)

34

In [107]:
# untill the list is exhausted