Problem: 

    Suppose you have a big text log file and there are three columns:

    Name | City | Timestamp

    Jamie city1 ts4

    Dana city1 ts3

    Jamie city2 ts1

    Jamie city3 ts3

    Dana city3 ts2

    Jamie city4 ts2

    Dana city4 ts1

    The first column is a rider name, 
    the second column is a city name, 
    the final column is a timestamp (32 bit integer). 
    This log file maintains a history of riders. 
    We define a "triple" to be a tuple of 
    three consecutive cities a rider has been to that are ordered by timestamp. 
    Suppose t1<t2<t3<t4, then we will have the following triples: 
        for Jamie, we have: (city2, city4, city3) , (city4, city3, city1) 
        for Dana, we have: (city4, city3, city1)

    Write a program - to output all the triples in the file and - 
        for each triple, output the count of unique riders that have been to that triple.

For the example input, the output would be
triple,  unique rider count

(city2, city4, city3) 1
(city4, city3, city1) 2

In [24]:
from collections import defaultdict

rider_history = defaultdict(list) 
input_data = ["Jamie,city1,1231321249", "Dana,city1,1231321248", "Jamie,city2,1231321245", "Jamie,city3,1231321248", "Dana,city3,1231321247", "Jamie,city4,1231321247", "Dana,city4,1231321245",] 

for line in input_data: 
    rider,city,timestamp = line.split(",") 
    timestamp = int(timestamp)
    rider_history[rider].append((city,timestamp)) 
    
rider_history

defaultdict(list,
            {'Jamie': [('city1', 1231321249),
              ('city2', 1231321245),
              ('city3', 1231321248),
              ('city4', 1231321247)],
             'Dana': [('city1', 1231321248),
              ('city3', 1231321247),
              ('city4', 1231321245)]})

In [ ]:
"""def generate_triple(history): 
    triple=[] 
    for i in range(len(history)-2): 
        triple = (history[i][0], history[i+1][0], history[i+2][0]) 
        triple.append(triple) 
    return triples

cities_vistied={} 
for rider,history in rider_history.items(): 
    cities = [city for city, _ in history] 
    cities_visited[rider] = cities 
    for rider, cities in cities_visited.items(): 
        triples = generate_triple(cities) 
        print(f"{rider}Â triples:{triple}")"""

sorted()

In [81]:
import pandas as pd

# Read the log file into a DataFrame
log_data = {
    'Name': ['Jamie', 'Dana', 'Jamie', 'Jamie', 'Dana', 'Jamie', 'Dana', 'Dana'],
    'City': ['city1', 'city1', 'city2', 'city3', 'city3', 'city4', 'city4', 'city2'],
    'Timestamp': ['ts4', 'ts3', 'ts1', 'ts3', 'ts2', 'ts2', 'ts1', 'ts4']
}

log_df = pd.DataFrame(log_data)

# Convert timestamp to integers for sorting
log_df['Timestamp'] = log_df['Timestamp'].str.extract('(\d+)').astype(int)

# Sort the DataFrame by Name and Timestamp
log_df.sort_values(by=['Name', 'Timestamp'], inplace=True)

# Find triples and count unique riders for each triple
triples_count = {}

for rider, group in log_df.groupby('Name'):
    cities = group['City'].tolist()
    triples = [(cities[i], cities[i + 1], cities[i + 2]) for i in range(len(cities) - 2)]
    
    for triple in triples:
        if triple not in triples_count:
            triples_count[triple] = set()
        triples_count[triple].add(rider)

# Output the result
for triple, unique_riders in triples_count.items():
    print(f"{triple} {len(unique_riders)}")

('city4', 'city3', 'city1') 2
('city3', 'city1', 'city2') 1
('city2', 'city4', 'city3') 1

In [76]:
a,b = log_df.groupby('Name')
b

('Jamie',
     Name   City  Timestamp
 2  Jamie  city2          1
 5  Jamie  city4          2
 3  Jamie  city3          3
 0  Jamie  city1          4)

In [31]:
import pandas as pd

data = {
    'Name': ['Jamie', 'Dana', 'Jamie', 'Jamie', 'Dana', 'Jamie', 'Dana',],
    'City': ['city1', 'city1', 'city2', 'city3', 'city3', 'city4', 'city4'],
    'Timestamp': [1231321249, 1231321248, 1231321245, 1231321248, 1231321247, 1231321247, 1231321245]
}

In [32]:
df = pd.DataFrame(data)

In [33]:
df

    Name   City   Timestamp
0  Jamie  city1  1231321249
1   Dana  city1  1231321248
2  Jamie  city2  1231321245
3  Jamie  city3  1231321248
4   Dana  city3  1231321247
5  Jamie  city4  1231321247
6   Dana  city4  1231321245

In [47]:
df = df.sort_values(['Name', 'Timestamp'], ignore_index=True)
df

    Name   City   Timestamp
0   Dana  city4  1231321245
1   Dana  city3  1231321247
2   Dana  city1  1231321248
3  Jamie  city2  1231321245
4  Jamie  city4  1231321247
5  Jamie  city3  1231321248
6  Jamie  city1  1231321249

In [43]:
df["City"].unique()

array(['city4', 'city3', 'city1', 'city2'], dtype=object)

In [44]:
result = pd.DataFrame(columns= ['triple', 'count_of_rider'])
result

Empty DataFrame
Columns: [triple, count_of_rider]
Index: []

In [46]:
df['City'][2]

'city1'

In [83]:
a = []
for i in df["Name"].unique().tolist():
    for j in range(0,len(df['Name'])):
        if i == df["Name"][j]:
            b = a.append(df['City'][j])
            print(b)
            result['triple'].append(a)
            if len(a) == 3:
                a.pop(a[0])

None

C:\Users\win\AppData\Local\Temp\ipykernel_5448\2543802935.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result['triple'].append(a)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [59]:
result

Empty DataFrame
Columns: [triple, count_of_rider]
Index: []

In [82]:
df["Name"].tolist()

['Dana', 'Dana', 'Dana', 'Jamie', 'Jamie', 'Jamie', 'Jamie']